{% extends "base.html" %}

{% load humanize %}
{% block content %}

<div class="container pb-5 mb-5">
    <h1 class="text-center">Carro de Compras</h1>
   

    {% if carrito.productos.exists %}

    <h3 class="container-sm pb-3"></h3>
    
    <table class="table container-sm col-4">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for producto in carrito.productos.all %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ producto.titulo }}</td>
            <td>CLP $ {{ producto.precio | intcomma }}</td>
            <td>{% include 'carrito/actualizar_carrito.html' with producto=producto carrito=carrito %}        
            </td>
          </tr>
            {% endfor %}
          <tr>
            <td  colspan="2"></td>
            <td><b>Total</b> <span class="ps-2"> CLP $ {{ carrito.total | intcomma }}</span></td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-end my-5">
        <a href="{% url 'carrito:carrito_borrado' carrito.id %}" class="btn btn-danger mb-5 ms-5 me-3 px-3">Eliminar Carro</a>  
        <button class="btn btn-success mb-5 ms-5 me-3 px-3" id="miBoton" onclick="mostrarAlerta()">Comprar </button>
    </div>

    {% else %}
    <p class="lead text-center">Su carrito esta vacío, favor elegir un producto.</p>
    {% endif %}

</div>
<div class="abajo"></div>


<!-- Incluye Sweet Alert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
    function mostrarAlerta() {
        // Muestra la alerta de Sweet Alert
        Swal.fire({
            title: "Comprado",
            text: "{{m}}",
            icon: "success",
            timer: 1000,
        });
    }
</script>


{% endblock %}  





