{% url 'productos:home' as home %}
{% url 'productos:contacto' as contacto %}
{% url 'productos:producto_nuevo' as nuevo %}
{% url 'productos:categoria' as categoria %}


<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Sidebar on click -->
<!-- Sidebar on click -->
<nav class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left w3-xxlarge" style="display:none;z-index:2" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-display-topright w3-text-teal">Close
    <i class="fa fa-remove"></i>
  </a>
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
  <a href="#" class="w3-bar-item w3-button">Link 4</a>
  <a href="#" class="w3-bar-item w3-button">Link 5</a>
</nav>

<!-- Navbar -->
<div class="w3-top"  method="GET" action="{% url 'productos:resultado' %}" >
  <div class="w3-bar w3-theme-d2 w3-left-align">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
    <a href="{% url 'productos:inicio' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Inicio</a>
    <a href="{% url 'productos:home' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Productos</a>
    <a href="{% url 'productos:contacto' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contacto</a>

    
    
    {% if request.user.is_authenticated %}
    <a href="{% url 'carrito:compra' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Carro</a>

    <a href="{% url 'logout'%}?next={{ inicio }}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Cerrar Sesion</a>
    {% else %}
    <a href="{% url 'login' %}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Iniciar Sesion</a>
    {% endif %}

    {% if perms.app.view_producto %}
    <div class="w3-dropdown-hover w3-hide-small  w3-right">
      <button class="w3-button " title="Notifications">Administracion <i class="fa fa-caret-down"></i></button>
      <div class="w3-dropdown-content w3-card-4 w3-bar-block">
        <a href="{{ categoria }}" class="w3-bar-item w3-button">Agregar Marca</a>
        <a href="{{ nuevo }}" class="w3-bar-item w3-button ">Agregar Productos</a>
        <a href="{{ home }}" class="w3-bar-item w3-button ">Editar Productos</a>

      </div>
    </div>
    {% endif %}
    <form method="GET" action="{% url 'productos:resultado' %}" class="w3-bar-item w3-hide-small w3-right w3-margin-right">
      <input class="w3-dropdown-hover w3-hide-small" type="search" name="q" placeholder="Buscar" aria-label="Search" value="{{ request.GET.q }}">
    </form>
      </div>


  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
    <img src="/media/img/ms.png" class="w3-bar-block" ></img>
    <a href="{% url 'productos:inicio' %}" class="w3-bar-item w3-button">Inicio</a>
    <a href="{% url 'productos:home' %}" class="w3-bar-item w3-button">Productos</a>
    <a href="{% url 'productos:contacto' %}" class="w3-bar-item w3-button">Contacto</a>

    {% if request.user.is_authenticated %}
    <a href="{% url 'carrito:compra' %}" class="w3-bar-item w3-button">Carro</a>

    <a href="{% url 'logout'%}?next={{ inicio }}" class="w3-bar-item w3-button">Cerrar Sesion</a>
    {% else %}
    <a href="{% url 'login' %}" class="w3-bar-item w3-button">Iniciar Sesion</a>
    {% endif %}
    <br>

    {% if perms.app.view_producto %}
    <a href="{{ categoria }}" class="w3-bar-item w3-button">Agregar Marca</a>
    <a href="{{ nuevo }}" class="w3-bar-item w3-button">Agregar Producto</a>
    <a href="{{ home }}" class="w3-bar-item w3-button">Editar Productos</a>
    {% endif %}



  </div>
</div>

