{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="card container mt-5">
    <div class="card-header text-center ">
        <h5 class="card-title">Acerca de Music Pro</h5>
    </div>
    <div class="card-body ">    
        <p class="card-text">Music Pro es una tienda de música excepcional que ofrece una amplia variedad de productos para todos los amantes de la música.
             Desde instrumentos musicales de alta calidad hasta equipos de grabación profesionales, esta tienda es el destino perfecto para músicos de todos
              los niveles y géneros. Con un ambiente acogedor y un equipo de expertos apasionados por la música, Music Pro se enorgullece de ofrecer
               una experiencia de compra única y personalizada.</p>

               <p class="card-text"></p>Al ingresar a Music Pro, te encontrarás con una extensa selección de instrumentos musicales de renombre. Desde guitarras eléctricas y acústicas
                hasta teclados, baterías y equipos de viento, esta tienda tiene todo lo que necesitas para expresarte a través de la música. Además, cuentan con
                 una amplia variedad de accesorios, como cuerdas, baquetas, afinadores y estuches protectores, para asegurarte de tener todo lo necesario para 
                 mantener tus instrumentos en perfecto estado.</p>
                 
                 <p class="card-text"></p>Pero Music Pro no se limita solo a instrumentos. También ofrecen una gama completa de equipos de grabación y producción musical. 
                 Desde micrófonos y interfaces de audio hasta software de edición y monitores de estudio, podrás crear tus propias composiciones y grabaciones
                  de alta calidad. El personal de Music Pro está capacitado para asesorarte en la elección de los productos adecuados para tus necesidades y
                   presupuesto, brindándote una atención personalizada y profesional.
            </p>
    </div>
</div>
<div class="abajo2"></div>

{% endblock %}